# No exchange credentials. This runtime is optional and OFF by default.
RADAR_MODE=disabled
MARKET_RADAR_LIVE_ENABLED=false
RADAR_VENUES=binance
RADAR_DATABASE_URL=
RADAR_INTERNAL_TOKEN=
RADAR_PUBLIC_READ_TOKEN=
RADAR_LOCAL_PORT=8092
RADAR_DATABASE_NETWORK=swap-assistant-dev_default
RADAR_CONTINUOUS_MARKETS=5
RADAR_ON_DEMAND_MARKETS=5
RADAR_MINIMUM_VENUES=2
RADAR_RETENTION_DAYS=7
RADAR_AUDIT_HORIZONS_MS=3600000,14400000,86400000
